body {
    font-family: Arial, sans-serif;
    background-color: #ababab;
    color: #333;
    margin: 20px;
}

h1, h2 {
    color: #009688;
}

p {
    line-height: 1.6;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    border: 2px solid #333;
}

